streamlit==1.27.0
openai
langchain
langchain-llm
langchain-huggingface
langchain-community
gensim
faiss-cpu
sentence-transformers
pyPDF2
pillow==9.2.0
transformers_stream_generator==0.0.5
