openAI
langchain>=0.0.320
langchain-community>=0.2.2
langchain-huggingface>=0.1.2
langchain-openai>=0.0.5
transformers>=4.30.0
sentence-transformers>=2.2.2
torch>=2.0.0
faiss-cpu>=1.7.4
pypdf
toml>=0.10.2
streamlit==1.26.0
